
.divBusca{
  background-color:#FFFFFF;
  border:solid 2px #000000;
  border-radius:10px;
  width:300px;
  height:32px;
}

.txtBusca{
  float:left;
  background-color:transparent;
  padding-left:5px;
  font-size:18px;
  border:none;
  height:32px;
  width:191px;
}

.btnBusca{
  border:none;
  float:left;
  height:32px;
  border-radius:0 7px 7px 0;
  width:70px;
  font-weight:bold;
  background:#5F9EA0;
}

body {
  background-color: rgb(0, 0, 0);
  background-size: 100%;
  font-family: sans-serif;
  font-size: 18px;
  line-height: 1.6;
  cursor: default;
  color: #FFFFFF;
  margin: 0;
  padding: 0;
}

header {
  text-align: center;
  padding: 20px 0;
  margin-bottom: 20px;
}

#CDSLOGO img {
  max-width: 100%;
}

header aside {
  color: red;
  font-size: 32px;
  margin-top: 10px;
}

p {
  font-size: 18px;
  line-height: 1.5;
  font-weight: bold;
}

div.gif1 {
  text-align: center;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

figcaption#desc {
  margin: 0 25%;
  font-size:larger;
  text-align: center;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}

h3 {
  text-align: center;
  margin-top: 30px;
}

div#button {
  text-align: center;
  margin: 30px 5%;
}

.button, .butao {
  margin: 10px 0;
  font-size: 16px;
  border: 2px solid red;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
  font-family: 'Times New Roman', Times, serif;
  cursor: pointer;
}

.button:hover, .butao:hover {
  background-color: #787b7b;
  color: #FFFFFF;
  box-shadow: 0px 0px 5px rgb(1, 1, 1);
}

.projects1, .projects2 {
  text-align: center;
  display: flex;
  justify-content: center;
  gap: 10px;
  flex-wrap: wrap;
  margin: 20px 0;
}

figcaption#desc {
  text-align: center;
}

div.div50cent{
  text-align: center;

}

.numeros{
  text-align:center;
  color: #fff;
}


@media screen and (max-width: 480px) {
  .divBusca {
    width: 90%;
  }

  .projects1, .projects2 {
    flex-direction: column;
    align-items: center;
  }

  figcaption#desc {
    margin: 0 10%;
  }
}
